<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login as employee</title>
</head>
<body>
<h2>Employee Registration</h2>
<form th:action="@{/profile}" th:object="${operator}" method="post">
        <div>
            <label>Email</label>
            <input type="email" th:field="*{email}">
        </div>
        <div>
            <label>Password</label>
            <input type="password" th:field="*{password}">
        </div>
    <button type="submit">Save</button>
</form>
</body>
</html>