<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Guard Registration</title>
</head>
<body>
    <div align="center">
        <h2>Employee Registration</h2>
        <form th:action="@{authenticated}" th:object="${operator}" th:method="post">
            <div style="margin-bottom: 1em">
                <label>Email:</label><br>
                <input type="email" th:field="*{email}">
            </div>
            <div style="margin-top: 1em; margin-bottom: 1em">
                <label>Password:</label><br>
                <input type="password" th:field="*{password}">
            </div>
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>